<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App requires location data inorder to show you your weather details</string>
	<key>Privacy — Location When In Use Usage Description</key>
	<string>App requires location data inorder to show you your weather details</string>
</dict>
</plist>
